<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SampleApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="/Pics"
                        Icon="@Icons.Material.Filled.CameraAlt"
                        Match="NavLinkMatch.All"
                        IconColor="Color.Info">
                <span style="color: white;">Pics</span>
            </MudNavLink>
        </div>


        <div class="nav-item px-3"> <!-- Simpler way of displaying nav bar icons -->
            <NavLink class="nav-link" href="Test">
            <MudIcon Icon="@Icons.Material.Filled.Bathtub" Title="Test" /> Testerino
            </NavLink>
        </div>

        <div class="nav-item px-3"> <!-- More Complex way of displaying nav bar icons -->
            <MudNavLink Href="/Data"
                        Icon="@MaterialDesignIcons.Normal.Pirate"
                        Match="NavLinkMatch.All"
                        IconColor="Color.Info">
                <span style="color: white;">Data</span>
            </MudNavLink>
        </div>

        
    </nav>
</div>

